{% extends "dashboard_template_admin.html" %}

{% block title %} DashBoard {% endblock %}


{% block username %} Admin {% endblock %}


{% block header_body %}
<div>Analytics Dashboard
    <div class="page-title-subheading">This is a dashboard . </div>
</div>
{% endblock %}

{%block mainbody %}
    <div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">All users
                                        <div class="btn-actions-pane-right">

                                        </div>
                                    </div>

<div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Sr. no</th>
                                                <th>User Name</th>
                                                <th class="text-center">Approved Apps</th>
                                                <th class="text-center">Unapproved Apps</th>
                                                <th class="text-center">View User</th>
                                                <th class="text-center"></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for user in userdata %}

                                            <tr>
                                              <td class="text-center text-muted">#{{ user.id }}</td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">{{ user.username }}</div>
                                                                <div class="widget-subheading opacity-7">{{ user.email }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">{{ user.email }}</td>
                                                <td class="text-center">
                                                    <div class="badge badge-success">{{ user.email }}</div>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">
                                                        {{ user.email }}</button>
                                                </td>

                                            <td>
                                                <div class="widget-content-left flex2">
                                                    <a href="/updateapp/{{ user.id }}"><i class="metismenu-icon pe-7s-refresh"></i></a>
                                                    <a href="/deleteapp/{{ user.id }}"><i class="metismenu-icon pe-7s-trash"></i></a>
                                                </div>
                                            </td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
<div class="d-block text-center card-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}